<div class="container">
  <div class="grid">
    <div class="col-12">
      <span class="p-input-icon-left">
        <input
          type="text"
          pInputText
          [(ngModel)]="searchTerm"
          (change)="search()"
        />
      </span>
    </div>
  </div>
</div>
<div class="container">
  <ng-container *ngIf="showsList$ | async as showsList">
    <div class="grid">
      <div class="col-2" *ngFor="let show of showsList.results">
        <app-show-item [showItem]="show" [showType]="listType"></app-show-item>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-paginator
          (onPageChange)="pageChanged($event)"
          [rows]="20"
          [totalRecords]="showsList.total_results"
        ></p-paginator>
      </div>
    </div>
  </ng-container>
</div>
