<div class="container">
  <div class="grid">
    <div class="col-12 genres-link">
      <ng-container *ngIf="genres$ | async as genres">
        <a
          *ngFor="let genre of genres"
          [routerLink]="'/genres/' + genre.id"
          role="button"
          aria-hidden="true"
          >{{ genre.name }}
        </a>
      </ng-container>
    </div>
  </div>

  <div class="container">
    <ng-container *ngIf="shows$ | async as showsList">
      <div class="grid">
        <div class="col-2" *ngFor="let show of showsList.results">
          <app-show-item [showItem]="show" [showType]="'movie'"></app-show-item>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <p-paginator
            (onPageChange)="pageChanged($event)"
            [rows]="20"
            [totalRecords]="showsList.total_results"
          ></p-paginator>
        </div>
      </div>
    </ng-container>
  </div>
</div>
